    .mobile-menu__conteiner {
        
    }
    .mobile-menu__btn {
        cursor: pointer;
        background-color: transparent;
        border: none;
        padding: 0;
        line-height: 0;
    }
    .mobile-menu-btn__icon {
        fill: #212121;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);;
    }
    .mobile-menu-btn__icon:hover, 
    .mobile-menu-btn__icon:focus {
        fill: var(--accent-color);
    }
    .mobile-menu__modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        overflow: auto;
        background: #FFFFFF;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity 250ms linear, visibility 250ms linear;
    }
    .mobile-menu__modal.is-open {
        z-index: 10;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    .mobile-menu__close-btn {
        position: absolute;
        top: 10px;
        right: 15px;
        background-color: transparent;
        border: none;
        padding: 0;
        line-height: 0;
        cursor: pointer;
    }
    .mobile-menu__close-icon {
        transition: currentcolor 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .mobile-menu__close-icon:hover,
    .mobile-menu__close-icon:focus{
        fill: #2196F3;
    }
    .section-mobile-nav__box {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 100vh;
        position: relative;
        padding-top: 48px;
        padding-left: 25px;
        padding-bottom: 48px;
    }
    .mobile-nav__list {
        list-style: none;
        font-family: var(--accent-text);
        font-style: normal;
        font-size: 40px;
        line-height: 1.18;
        letter-spacing: 0.02em;
    }
    .mobile-nav__item:not(:last-child) {
        margin-bottom: 32px;
    }
    .mobile-nav__link {
        text-decoration: none;
        font-weight: 500;
        color: #212121;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .current {
        color: var(--accent-color);
    }
    .mobile-nav__list .mobile-nav__link:hover,
    .mobile-nav__list .mobile-nav__link:focus {
     color: var(--accent-color);
    }
    .mobile-contact__list {
        list-style: none;
        margin-bottom: 64px;
    }
    .mobile-contact__item:not(:last-child) {
        margin-bottom: 32px;
    }
    .mobile-contact__link {
        text-decoration: none;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 34px;
        line-height: 40px;
        letter-spacing: 0.02em;
        color: #2196F3;
    }
    .mobile__link {
        font-family: var(--accent-text);
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: #757575;
    }
    .mobile-social-link__list {
        list-style: none;
        display: flex;
        justify-content: flex-start;
        font-family: var(--accent-text);
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
    }
    .mobile-social__link {
        text-decoration: none;
        color: #2196F3;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .mobile-social__visible {
        margin-right: 10px;
        width: 22px;
        color: rgba(33,33,33,.2);
    }
    .mobile-social-link__item {
        margin-right: 10px;
    }
@media screen and (max-width: 479px) {
    .mobile-social-link__list {
        flex-wrap: wrap;
    }
}
