// 0px -1199px
@media screen and (max-width: 1199px) {
    .social__list {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        margin-top: 16px;
    }
    .social__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        fill: #AFB1B8;;
        background-color: var(--accent-background-color);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
        fill: var(--accent-background-color);
        background-color: var(--accent-color);
        }
    }
    .social__icon {
        height: 20px;
    }
    .social__item:not(:nth-child(4n + 1)) {
        margin-left: 10px;
    }
}
// 0px -767px
@media screen and (max-width: 767px) {
}
// 1200px +
@media screen and (min-width: 1200px) {
    .social__list {
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin-top: 16px;
    }
    .social__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        fill: #AFB1B8;;
        background-color: var(--accent-background-color);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
        fill: var(--accent-background-color);
        background-color: var(--accent-color);
        }
    }
    .social__icon {
        height: 20px;
    }
    .social__item:not(:nth-child(4n + 1)) {
        margin-left: 10px;
    }
}